.cardCon {
    display: flex;
    flex-direction: column;
    margin: 5% 0;
    align-items: flex-end;
} 

.cardCon a {
    margin: 5% 10%;
    text-decoration: none;
    color: #007bff;
}

.cardCon a:hover {
    color: #3d0debdd;
}


.cardContent {
    width: 90%;
    height: 40vh;
    margin: 0 0 1% 0;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    box-shadow: 8px 0.5px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  
  .cardContent:hover{
    background-color: bisque;
  }
  



.cardContent h4{
    margin: 5% 0;
    
}

.cardCon {
    display: flex;
    flex-direction: column;
    margin: 5% 0;
    align-items: flex-end;
    position: relative; /* Needed for absolute positioning inside */
} 

.image-container {
    position: absolute;
    top: -35px; /* Move image upward */
    width: 60px; 
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container svg {
    font-size: 50px; /* Make icon larger */
    color: #007bff; /* Adjust color */
}


