.Section3 {
  position: relative;
  height: 90vh;
  width: 100%;
  color: #00050a;
  padding: 0 3%;
}

.Section3 h3 {
  color: #007bff;
  margin-bottom: 30px;
}

.buttons {
  width: 23%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  align-self: flex-end; /* Aligns button with inputs */
  word-spacing: 5px;
  box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.4);
}

.buttons button:hover {
background: #0056b3;
}

.divisions {
  display: flex;
  flex-direction: row;
  /* background-color: #007bff; */
}

background: #007bff;
color: white;
padding: 10px 15px;
border: none;
border-radius: 18px;
cursor: pointer;
