.Sec1Con {
    width: 100%;
    height: 50vh;
    background-color: rgb(213, 207, 209);
    font-family: 'Times New Roman', Times, serif;
}

.Sec1Con ul li{
    list-style: none;
    display: inline;
    font-size: 13px;
    color: rgb(61, 19, 226);
    cursor: pointer;
}

.Sec1Con h1{
    color:rgb(14, 14, 158);
    padding-top: 40px;
    padding-bottom: 7px;
}

.p1{
    color: black;
    font-size: 13px;
    padding-bottom: 40px;
}

.Quote{
    justify-content: space-between;
    display: flex;
    border: 20px;
    background-color: rgb(61, 19, 226);
    border-radius: 13px;
    width: 50%;
    height: 20%;
    box-shadow: 

}



















