.header {
  width: 100%;
  height: fit-content;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  color: rgb(42, 42, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.header li {
  background-color: transparent;
  cursor: pointer;
  list-style: none;
  padding: 10px;
  position: relative; 
}

.Nav:hover {
  background-color: #4a4aff47;
  border-radius: 10px;
}

.logo {
  width: 100px;
}

.icon {
  background-color: transparent;
  width: 20px;
  height: 20px;
}

.search {
  color: gray;
}

.fb {
  color: rgb(25, 165, 249);
}

.yt {
  color: red;
}

/* Dropdown Styling */
.dropDown {
  position: relative;
}

.dDlbl {
  display: flex;
}

.dropDown:hover .options {
  display: block;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(137, 137, 137, 0.1);
  backdrop-filter: blur(50px);
  min-width: 150px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(10px);
  opacity: 0;
}

.dropDown:hover .options {
  opacity: 1;
  transform: translateY(0);
}

.options li {
  padding: 10px;
  color: #8f8ffc;
  z-index: 1000;
}

.options li:hover {
  background-color: rgba(25, 52, 202, 0.1);
  color: #4a4aff;
}

#links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}



